@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title><link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h2>@ViewBag.Greeting!</h2>
        <h1>Вы были приглашены на день рождения.</h1>

        <br />
        <hr />
        <a class="btn btn-primary" asp-action="RsvpForm">Откликнуться</a>
    </div>

   
</body>

</html>

