@model WebApplication6.Models.GuestResponse

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="wibth=device-wibth" />
    <title>RSVP</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>

<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Форма ввода</h4></div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="RsvpForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Ваше имя:</label>
                    <input class="form-control" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">"Ваш адресс электронной почты"</label>
                    <input class="form-control" asp-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Ваш номер телефона:</label>
                    <input class="form-control" asp-for="Phone" />
                </div>
                <div class="form-group">
                    <label>Вы придете?</label>
                    <select class="form-control" asp-for="WillAttend">
                        <option value="">Выберите вариант</option>
                        <option value="true">Да, конечно!</option>
                        <option value="false">Нет, я не смогу(</option>
                    </select>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">
                            Отправить
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>


</body>
</html>

